<div class="row">
  <div class="col-xs-12">
    <form name="recipeForm" [formGroup]="recipeForm"  (ngSubmit)="onSubmit(recipeForm)">
      <div class="row">
        <div class="col-xs-12">
          <button 
          type="submit" 
          class="btn btn-success">Save</button>
          <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">     
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input 
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input 
                type="text"
                id="imagePath"
                formControlName="imagePath"
                class="form-control"
                >
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
            <img *ngIf="imagePath" [src]="imagePath" class="img-responsive">
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
                <textarea 
                   type="text"
                   id="description"
                   formControlName="description"
                   class="form-control"
                   rows="6"></textarea>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>