<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)= "onNewRecipe()" >New Recipe</button>
  </div>
  <form name="searchForm" [formGroup]="searchForm">
  <div class="col-xs-12">
   search recipe: <input class="Search" type="text" formControlName="query" (ngModelChange)="onSearch()" id="name"  name="query"/>
    <!-- <button (click)="onSearch()">Search!</button> -->
  </div>
  </form>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
    *ngFor="let recipeEl of recipeService.getRecipesList(); let i = index"
    [recipe]="recipeEl"
    (onItemClick)="onItemClick"
    [index]="i"></app-recipe-item>
    <div class="col-sx8">
        <video width="320" height="240" controls>
            <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">
          </video>
    </div>
  </div>
</div>
